RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /auth/login [R=301,L]

php_value max_input_vars 20000
php_value max_multipart_body_parts 20000


Options -Indexes
